In [3]:
import mysql.connector as sql

In [5]:
connection=sql.connect(host="localhost",user="root",password="12345678")

In [7]:
cursor = connection.cursor()
cursor.execute('SHOW DATABASES')

In [8]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [10]:
cursor.execute('CREATE DATABASE Amit')

In [12]:
cursor = connection.cursor()
cursor.execute('SHOW DATABASES')
for x in cursor:
    print(x)

InternalError: Unread result found

In [9]:
cursor.execute("CREATE TABLE studentinfo1 (id INT AUTO_INCREMENT PRIMARY KEY, \
               name VARCHAR(255), subject VARCHAR(255))")

ProgrammingError: 1046 (3D000): No database selected

In [ ]:
#execute the query, values are defined as like strings 
query="INSERT INTO studentinfo(name,subject) VALUES(%s,%s)"
value=("John","Stat")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

In [ ]:
#Now let's try to fetch the data from the server
cursor=connection.cursor()
cursor.execute("SELECT * FROM studentinfo")
cursor.fetchall()

In [ ]:
#inserting multiple values
cursor = connection.cursor()
query="INSERT INTO studentinfo(name,subject) VALUES(%s,%s)"
values=[("Jenny","Stat"),("Andrew","Maths"),("Ricky","Physics"),("Joanne","Chem")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)